version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vue-frontend-api-jwt
    ports:
      - "8080:80" # Map host port 8080 to container port 80
    restart: always
